.table {
  border-collapse: collapse;
  th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #4CAF50;
    text-align: left;
    color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #fafafa;
  }
  tr:hover {
    background-color: #eee;
  }
}
