.diner-menu {
  width: 800px;
  margin: 100px auto;
  table-layout: fixed;
  border-collapse: collapse;
  td {
    padding: 1em 0 0 0;
    vertical-align: bottom;
    background-image: radial-gradient(black 1px, white 0px);
    background-size: 8px 8px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
  td span {
    background-color: #FFF;
  }
  td:first-child {
    text-align: left;
    font-weight: 700;
  }
  td:first-child span {
    padding-right: 6px;
  }
  td:last-child {
    text-align: right;
    width: 100px;
  }
  td:last-child span {
    padding-left: 6px;
  }
}
